# Service configuration for our dockerized Rails app
app:

  # Use the Dockerfile next to this file to build the Docker image
  build: .

  # Make the app container aware of the DB container
  links:
    - db

  # Use the "exec" form of CMD so Nginx shuts down gracefully on SIGTERM (i.e. `docker stop`)
  command: [ '.docker/entrypoint.sh' ]

  # Source environment variable configuration for our app
  env_file: .docker/.env

  # Expose the port we configured server to bind to
  ports:
    - "3000:3000"

  # Map our application source code, in full, to the application root of our container
  volumes:
    - .:/var/www/sample_app

  # Mount data directories of the database service to the app service for easier backup, etc
  volumes_from:
    - db


# Service configuration for our database
db:
  # Use the preferred version of the official MySQL image
  image: mysql:5.7.12

  # Source environment variable configuration for our app
  env_file: .docker/.env

  # Persist the database between containers by storing it in a volume
  # volumes:
  #   - .docker/db:/var/lib/mysql
