# See config/secrets.yml
SECRET_KEY_BASE=16019d748e4d0c4f617a69f021608e6860989ef47b6214b192878ff7ef7b7222f603c8875b7dff4549c99ba3675ebde44d5929b889ad4d3fd3d9150d0665d4de

# See config/database.yml
INFO_DATABASE_HOST=db
INFO_DATABASE_PORT=3306
INFO_DATABASE_PASSWORD=123456
INFO_DATABASE_PATH=/var/lib/mysql
# INFO_DATABASE_PORT=5432
# INFO_DATABASE_PATH=/var/lib/postgresql/data

# See config/mongoid.yml
# INFO_MONGO_HOST=mongo
# INFO_MONGO_PORT=27017
# INFO_MONGO_PATH=/data/db

# See config/sidekiq.yml
# INFO_REDIS_HOST=redis
# INFO_REDIS_PORT=6379
# INFO_REDIS_PATH=/data

# Zeus doesn't work on host-mounted volumes
# ZEUSSOCK=/tmp/.zeus.sock
