sqlite: &sqlite
  adapter: sqlite3
  pool: 5
  timeout: 5000
  host: localhost

postgres: &postgres
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: <%= ENV['INFO_DATABASE_HOST'].presence || 'localhost' %>
  username: postgres
  password: <%= ENV['INFO_DATABASE_PASSWORD'] %>


mysql: &mysql
  adapter: mysql2
  encoding: utf8
  pool: 5
  host: <%= ENV['INFO_DATABASE_HOST'].presence || 'localhost' %>
  username: root
  password: <%= ENV['INFO_DATABASE_PASSWORD'] %>

development:
  <<: *mysql
  database: sample_app_development

test:
  <<: *mysql
  database: sample_app_test

production:
  <<: *mysql
  database: sample_app_production

# # SQLite version 3.x
# #   gem install sqlite3
# #
# #   Ensure the SQLite 3 gem is defined in your Gemfile
# #   gem 'sqlite3'
# #
# default: &default
#   adapter: sqlite3
#   pool: 5
#   timeout: 5000

# development:
#   <<: *default
#   database: db/development.sqlite3

# # Warning: The database defined as "test" will be erased and
# # re-generated from your development database when you run "rake".
# # Do not set this db to the same as development or production.
# test:
#   <<: *default
#   database: db/test.sqlite3

# production:
#   <<: *default
#   database: db/production.sqlite3
